@font-face {
    font-family: 'IRANSans-Regular';
    font-weight: 400;
    src: url('../fonts/woff/IRANSansWeb\(FaNum\).woff') format('woff');
}

@font-face {
    font-family: 'IRANSans-Medium';
    font-weight: 500;
    src: url('../fonts/woff/IRANSansWeb\(FaNum\)_Medium.woff') format('woff');
}

@font-face {
    font-family: 'IRANSans-Bold';
    font-weight: 700;
    src: url('../fonts/woff/IRANSansWeb\(FaNum\)_Bold.woff') format('woff');
}

@font-face {
    font-family: 'IRANSans-Black';
    font-weight: 900;
    src: url('../fonts/woff/IRANSansWeb\(FaNum\)_Black.woff') format('woff');
}

body {
    font-family: 'IRANSans-Regular';
    user-select: none;
    overflow-x: hidden;
    background-color: #FCFCFC;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.fw-Medium {
    font-family: 'IRANSans-Medium' !important;
    font-weight: 500;
}

.fw-semiBold {
    font-family: 'IRANSans-semiBold' !important;
    font-weight: 600;
}

.fw-bold {
    font-family: 'IRANSans-Bold';
    font-weight: 700;
}

.transition {
    transition: all .4s;
}

/* newMessage */

.newMessage {
    background-color: #FDEDDA !important;
}

.newMessage2 {
    background-color: #F3F6FC !important;
}

.newMessage>div:first-child,
.newMessage2>div:first-child {
    display: flex !important;
}

.newMessage svg path {
    stroke: #F5901F;
}

.newMessage2 svg path {
    stroke: #5A8ED6;
}

/* shadow */
.drop-shadow-1 {
    box-shadow: 0px 0px 13px 0px #AFAFAF40;
}

/* tab */
.nav-link,
.nav-link:focus,
.nav-link:hover {
    color: #5A8ED6;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: #2658A8;
}

.nav-pills .nav-link.active svg.first path {
    fill: white;
}

.nav-pills .nav-link.active svg.second path {
    stroke: white;
}

/* scroll */
.hiddenScroll::-webkit-scrollbar {
    width: 1px;
    /* Width of the scrollbar */
    height: 1px;
    /* Height for horizontal scrollbar */
}

/* The scrollbar track */
.hiddenScroll::-webkit-scrollbar-track {
    background: transparent;
    /* Light gray background */
    border-radius: 10px;
    /* Rounded corners */
}

/* The scrollbar thumb (the draggable part) */
.hiddenScroll::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #eaeff7, transparent);
    /* Gradient effect */
    border-radius: 10px;
    /* Rounded corners */
    border: 3px solid transparent;
    /* Space around the thumb */
}

/* The scrollbar thumb on hover */
.hiddenScroll::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #eaeff7, transparent);
    /* Darker gradient on hover */
}

/* Firefox scrollbar styling */
* {
    scrollbar-width: thin;
    /* Thin scrollbar */
    scrollbar-color: #eaeff7 transparent;
    /* Thumb and track colors */
}

/* gap */
.gap-40 {
    gap: 40px;
}

/* dropdown */

.dropdown-menu::before {
    content: '';
    position: absolute;
    background-color: #F8F8F8;
    content: "";
    width: 18px;
    height: 18px;
    left: 23px;
    top: 39px;
    border-radius: 2px;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
}

.dropdown-menu::before {
    left: 0;
    top: auto;
    z-index: -1;
    bottom: -6px;
    right: 0;
    margin: auto;
}

.dropdown-menu {
    /* transform: translate(-95px, -56px) !important; */
}

/* accordion */
.accordion-btn svg {
    transition: all .4s;
}

.accordion-btn.active svg:last-child {
    transform: rotate(180deg);
}

.accordion-content {
    max-height: 0;
    transition: all .4s;
    overflow: hidden;
}

.accordion-content.active {
    max-height: 2000px;
    padding-top: 16px;
    padding-bottom: 16px;
}

/* hover */
.hover1,
.hover2,
.hover2 svg path,
.hover3,
.hover4,
.hover5,
.hover6,
.hover7,
.hover8,
.hover9,
.hoverClose,
.hoverClose path {
    transition: all .4s;
    cursor: pointer;
}

.hover1:hover {
    background-color: #104292;
}

.hover2:hover,
.hover2.active {
    background-color: #2658A8;
    color: white;
}

.hover2:hover svg path,
.hover2.active svg path {
    stroke: white;
}

.hover3:hover {
    color: #2658A8 !important;
}

.hover4:hover,
.hover4.active {
    border: 2px solid #5A8ED6;
    color: #272727;
}

.hover5:hover,
.hover5.active {
    border: 2px solid #F7A344;
    color: #272727;
}

.hover6:hover,
.hover6.active {
    border: 2px solid #52C41A;
    color: #272727;
}

.hover7:hover,
.hover7.active {
    border: 2px solid #FF4D4F;
    color: #272727;
}

.hover8:hover {
    background-color: #e63033;
}

.hover9:hover,
.hover9.active {
    border: 2px solid #1677FF;
    color: #272727;
}
.hoverClose:hover path{
    stroke: #FF4D4F;
}
/* checkbox */
.form-check-input:checked {
    background-color: #5A8ED6;
    border-color: #5A8ED6;
}

/* input */
input,
select {
    outline: none;
}

/* pagination */
.pagination a,
.pagination a svg path {
    transition: all .4s;
}

.pagination a:hover,
.pagination a.active {
    background-color: #2658A8;
    color: white;
}

.pagination a:hover svg path {
    fill: white;
}

/* swiper */
.swiper-pagination-bullet {
    width: 16px !important;
    height: 16px !important;
    background-color: #E5EBF9;
    opacity: 100%;
    border-radius: 100px;
    transition: all .4s;
}

.swiper-pagination-bullet-active {
    width: 64px !important;
    background-color: #356FC2;
}

/* step */
.step.active {
    color: #2658A8;
    font-weight: bold;
}

.step.active>div>div {
    border: 4.36px solid #2658A8;
}

.step.active>div>div svg path {
    stroke: #2658A8;
}

.step.active svg line {
    stroke: #2658A8;
}

.step>svg {
    width: 13vw;
}

/* calander */
.datepicker-plot-area .datepicker-day-view .table-days td span {
    width: 36px !important;
    height: 36px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border-radius: 100% !important;
    margin: auto !important;
    font-size: 15px !important;
    font-weight: 500 !important;
    background-color: transparent !important;
    color: #333 !important;
    font-family: 'IRANSans-Regular' !important;
}

.datepicker-plot-area .datepicker-navigator .pwt-btn-prev {
    width: 36px !important;
    float: right !important;
    color: #2658A8 !important;
}

.datepicker-plot-area .datepicker-navigator .pwt-btn-next {
    width: 36px !important;
    float: left !important;
    color: #2658A8 !important;
}

.datepicker-plot-area .datepicker-day-view .month-grid-box .header .header-row {
    font-weight: bold;
    font-size: 15px;
}

.toolbox {
    display: none !important;
}

.datepicker-plot-area .datepicker-day-view .table-days td.selected span,
.datepicker-plot-area .datepicker-day-view .table-days td span:hover {
    color: white !important;
}

.datepicker-plot-area .datepicker-day-view .table-days td span.other-month {
    color: #ccc !important;
}

.datepicker-plot-area .datepicker-navigator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #E5EBF9;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;
    padding-left: 16px;
    font-size: 18px;
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
}

.datepicker-plot-area .datepicker-navigator .pwt-btn-switch {
    color: #2658A8 !important;
    font-family: 'IRANSans-Regular' !important;
}

.datepicker-plot-area {
    box-shadow: none !important;
    border: none !important;
    background-color: transparent !important;
    padding: 0 !important;
    height: 276px;
}

.datepicker-plot-area .datepicker-day-view .table-days td.selected span,
.datepicker-plot-area .datepicker-year-view .year-item.selected,
.datepicker-plot-area .datepicker-month-view .month-item.selected,
.datepicker-plot-area .datepicker-day-view .table-days td.selected span .datepicker-plot-area .datepicker-day-view .table-days td:hover,
.datepicker-plot-area .datepicker-day-view .table-days td span:hover,
.datepicker-plot-area .datepicker-year-view .year-item:hover,
.datepicker-plot-area .datepicker-month-view .month-item:hover {
    background-color: #2658A8 !important;
}

/* disabled btn */
.btnsubmit:disabled {
    color: #999999 !important;
    background-color: #EEEEEE;
    cursor: default;
}

.senBtn:disabled {
    cursor: default !important;
}

.senBtn:disabled svg rect {
    fill: #E8E8E8;
}

/* font size */
.fs-8 {
    font-size: 8px;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.fs-24 {
    font-size: 24px;
}

.fs-32 {
    font-size: 32px;
}

/* cursor */
.cursor-pointer {
    cursor: pointer;
}

/* max width */
.max-w-269 {
    max-width: 269px;
    width: 100%;
}

.max-w-330 {
    max-width: 330px;
    width: 100%;
}

.max-w-492 {
    max-width: 492px;
    width: 100%;
}

.max-w-572 {
    max-width: 572px;
    width: 100%;
}

.max-w-796 {
    max-width: 796px;
    width: 100%;
}

.max-w-1200 {
    max-width: 1200px;
    width: 100%;
}

/* width */
.w-24 {
    width: 24px;
}

.w-38 {
    width: 38%;
}

.w-40 {
    width: 40px;
}

.w-48 {
    width: 48px;
}

.w-62 {
    width: 62px;
}

.w-63 {
    width: 63px;
}

.w-70 {
    width: 70px;
}

.w-161 {
    width: 161px;
}
.w-165 {
    width: 165px;
}
.w-187 {
    width: 187px;
}

/* height */
.h-24 {
    height: 24px;
}

.h-30 {
    height: 30px;
}

.h-32 {
    height: 32px;
}

.h-38 {
    height: 38px;
}

.h-40 {
    height: 40px;
}

.h-48 {
    height: 48px;
}

.h-62 {
    height: 62px;
}

.h-70 {
    height: 70px;
}

.h-93vh {
    height: 93vh;
}

.h-100vh {
    height: 100vh;
}

.h-220 {
    height: 220px;
}

.h-232 {
    height: 232px;
}
.h-465 {
    height: 465px;
}
/* z index */
.z-0 {
    z-index: 0;
}

.z-10 {
    z-index: 10;
}

/* padding */
.p-10 {
    padding: 10px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.px-12 {
    padding-right: 12px;
    padding-left: 12px;
}

.p-32 {
    padding: 32px;
}

.p-40 {
    padding: 40px;
}

.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.p-80 {
    padding: 80px;
}

/* margin */
.mt-32 {
    margin-top: 32px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-60 {
    margin-top: 60px;
}

.my-64 {
    margin-top: 64px;
    margin-bottom: 64px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* text align */
.text-justify {
    text-align: justify;
}

/* text color */
.text-main {
    color: #164194;
}

.text-gray {
    color: #999999;
}

.text-gray2 {
    color: #767676;
}
.text-blue {
    color: #1EB4EB;
}

.text-blue2 {
    color: #1677FF;
}

.text-red {
    color: #FF4D4F;
}

.text-green {
    color: #52C41A;
}

.text-warning2 {
    color: #FAAD14;
}

.text-black2 {
    color: #272727;
}

.text-black3 {
    color: #4E4E4E !important;
}
.text-black4 {
    color: #4E4E4E;
}
/* left */
.left-8 {
    left: 8px;
}

.-left-20 {
    left: -20px;
}

/* right */
.right-4 {
    right: 4px;
}

.-right-8 {
    right: -8px;
}

.-right-20 {
    right: -20px;
}

.-right-28 {
    right: -28px;
}

/* top */
.top-12 {
    top: 12px;
}

.top-27 {
    top: 27px;
}

/* bottom */
.-bottom-14 {
    bottom: -14px;
}

/* position */
.position-stisky {
    position: sticky;
}

/* line height */
.lh-20 {
    line-height: 20px;
}

/* resize */
.resize-none {
    resize: none;
}

.appearance-none {
    appearance: none;
}

/* border */
.border-input {
    border: 1px solid #F5F5F5;
}

.border-t-gray {
    border-top: 1.5px solid #F3F6FC;
}

.border-b-gray {
    border-bottom: 2px solid #F2F2F2;
}

.border-b-gray2 {
    border-bottom: 1.5px solid #C6D6F1;
}

.border-b-gray3 {
    border-bottom: 1px solid #F5F5F5;
}

.border-gray4 {
    border: 1px solid #EEEEEE;
}

.border-r-blue {
    border-right: 2px solid #5A8ED6;
}

.border-r-blue-3 {
    border-right: 3px solid #2658A8;
}

.border-r-blue2 {
    border-right: 2px solid #1677FF;
}

.border-r-orange {
    border-right: 2px solid #F7A344;
}

.border-r-orange-4 {
    border-right: 4px solid #F5901F;
}
.border-b-orange{
    border-bottom: 1.5px solid #F7A344;
}
.border-r-green {
    border-right: 2px solid #52C41A;
}

.border-r-red {
    border-right: 2px solid #FF4D4F;
}

/* background */
.bg-main {
    background-color: #2658A8;
}

.bg-main-2 {
    background-color: #F3F6FC;
}

.bg-main3 {
    background-color: #E5EBF9;
}

.bg-main4 {
    background-color: #5A8ED6;
}

.bg-blue-20 {
    background-color: #1EB4EB33;
}

.bg-blue2 {
    background-color: #E6F4FF;
}

.bg-gray {
    background-color: #F8F8F8;
}

.bg-input {
    background-color: #FCFCFC;
}

.bg-input2 {
    background-color: #F5F5F5;
}

.bg-orange {
    background-color: #F5901F;
}

.bg-warning2 {
    background-color: #FFFBE6;
}

.bg-green {
    background-color: #F6FFED;
}

.bg-red {
    background-color: #FFF2F0;
}

.bg-danger2 {
    background-color: #FF4D4F;
}

/* box shadow */
.shadow-1 {
    box-shadow: 0px 0px 15px 0px #0000001C;
}

.shadow-2 {
    box-shadow: 13px 32px 42px 10px #33333333;
}

.shadow-3 {
    box-shadow: 0px 2px 4px -2px #1018280F;
}

/* border radius */
.rounded-8 {
    border-radius: 8px !important;
}

.rounded-12 {
    border-radius: 12px;
}

.rounded-br-12 {
    border-bottom-right-radius: 12px;
}

.rounded-16 {
    border-radius: 16px;
}

.rounded-24 {
    border-radius: 24px;
}

.rounded-l-24 {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.rounded-32 {
    border-radius: 32px;
}

.rounded-40 {
    border-radius: 40px;
}

.rounded-r-60 {
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
}

/* overflow */
.overflow-y-scroll {
    overflow-y: scroll;
}

/* object-cover */
.object-cover {
    object-fit: cover;
}

/* outline-none */
.outline-none {
    outline: none;
}

/* opacity */
.opacity-none {
    opacity: 0;
}

/* input number */
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}

/* responsive */
@media (max-width: 1200px) {
    .w-xl-44 {
        width: 44%;
    }

    .fs-xl-12 {
        font-size: 12px;
    }

    .fs-xl-10 {
        font-size: 10px;
    }
    .step>svg {
    width: 11vw;
}
}

@media (max-width: 992px) {
    .h-lg-auto {
        height: auto;
    }

    .overflow-lg-auto {
        overflow: auto;
    }

    #sidebar {
        position: fixed !important;
        top: 0;
        bottom: 0;
        height: 100% !important;
        right: -290px;
        transition: all .4s;
        z-index: 11;
    }

    #sidebar.active {
        right: 0;
    }

    .p-lg-16 {
        padding: 16px;
    }

    .fs-lg-20 {
        font-size: 20px;
    }

    .fs-lg-16 {
        font-size: 16px;
    }
    .-right-lg-14{
        right: -14px;
    }
     .-right-lg-8{
        right: -8px;
    }
       .-right-lg-1{
        right: -1px;
    }
    #overlay {
        position: fixed;
        inset: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.504);
        transition: all .4s;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        cursor: pointer;
    }

    #overlay.active {
        opacity: 100%;
        visibility: visible;
    }
}

@media (max-width: 768px) {}

@media (max-width: 576px) {
    .rounded-sm-24 {
        border-radius: 24px;
    }

    .rounded-sm-16 {
        border-radius: 16px;
    }

    .rounded-sm-8 {
        border-radius: 8px;
    }

    .fs-sm-16 {
        font-size: 16px;
    }

    .fs-sm-14 {
        font-size: 14px;
    }

    .fs-sm-12 {
        font-size: 12px;
    }

    .fs-sm-10 {
        font-size: 10px;
    }

    .w-sm-100 {
        width: 100%;
    }

    .h-sm-135 {
        height: 135px;
    }

    .max-w-sm-100 {
        max-width: 100%;
        width: 100%;
    }

    .p-sm-26 {
        padding: 26px;
    }

    .p-sm-20 {
        padding: 20px;
    }
    .position-sm-static{
        position: static !important;
    }
}

@media (max-width: 400px) {}